<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>90990337454-rbrtrk2j3nne7v9vlqp2jvilaf7e502o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.90990337454-rbrtrk2j3nne7v9vlqp2jvilaf7e502o</string>
	<key>API_KEY</key>
	<string>AIzaSyAvlS_oN3aKHMeyGQq5DJP0JUJ8wGg02RE</string>
	<key>GCM_SENDER_ID</key>
	<string>90990337454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Galor-Nadav.Album-Management</string>
	<key>PROJECT_ID</key>
	<string>album-managment-swiftapp</string>
	<key>STORAGE_BUCKET</key>
	<string>album-managment-swiftapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:90990337454:ios:5de49ff41aa3bc3257bc3f</string>
</dict>
</plist>